body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7; 
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; }

.login-box {
    background-color: #ffffff; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}


.login-box h1 {
    color: #B22222; 
    margin-bottom: 20px;
    font-size: 32px;
}

.login-box p {
    font-size: 16px;
    color: #555; 
    margin-bottom: 20px;
}

.login-box label {
    display: block;
    text-align: left;
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #fafafa;
}

.login-box input:focus {
    outline: none;
    border-color: #B22222; 
}

.login-btn-container {
    text-align: center;
}

.login-btn {
    background-color: #B22222; 
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #8B0000; 
}

.register-link {
    margin-top: 15px;
    font-size: 14px;
    color: #7f8c8d; 
    text-align: center;
}

.register-link a {
    color: #c0392b; 
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}

/* Media Queries for Responsiveness */

/* Tablet view */
@media (max-width: 768px) {
    .login-box {
        padding: 25px;
        max-width: 350px;
    }

    .login-box h1 {
        font-size: 28px;
    }

    .login-box p {
        font-size: 14px;
    }

    .login-btn {
        font-size: 16px;
    }
}

/* Mobile view */
@media (max-width: 480px) {
    .login-box {
        padding: 20px;
        max-width: 280px;
    }

    .login-box h1 {
        font-size: 24px;
    }

    .login-box p {
        font-size: 12px;
    }

    .login-btn {
        font-size: 14px;
        padding: 12px 25px;
    }
}